useDynLib("ZVCV", .registration=TRUE)

import(glmnet)
import(abind)
import("partitions")
importFrom(mvtnorm,"rmvnorm")
importFrom("Rcpp", "evalCpp")

export("zvcv",
"getX",
"logsumexp",
"Expand_Temperatures",
"evidence_CTI",
"evidence_SMC"
)
